@import './assets/styles/base.less';
@import '~antd/lib/style/themes/default.less';

// 修改ant-layout的一些样式

// .ant-layout {
// 	background-color: #fff !important;
// }

.ps-bgfff-g {
	background-color: #fff !important;
}

.ps-border-g {
	border: 1px solid #d9d9d9;
}

.ps-title-g {
	font-size: 18px;
	font-family: serif;
	margin-bottom: 20px;
	border-left: 12px solid orange;
	line-height: 22px;
	text-indent: 8px;
	// color: #000;
}

.ps-block-g {
	padding: 20px;
	margin-top: 30px;
	border-radius: 1ch;
	border: 1px solid orange;
	position: relative;
	span.title {
		position: absolute;
		padding: 10px 20px;
		top: 0;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 100;
		background-color: @cyan-1;
		color: orange;
	}
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

input[type='number'] {
	-moz-appearance: textfield;
}
